<a href="https://colab.research.google.com/github/kkaisar/Data_base/blob/main/assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

data = [[1, 'Avengers'], [2, 'Frozen 2'], [3, 'Joker']]
movies = pd.DataFrame(data, columns=['movie_id', 'title']).astype({'movie_id':'Int64', 'title':'object'})

data = [[1, 'Daniel'], [2, 'Monica'], [3, 'Maria'], [4, 'James']]
users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id':'Int64', 'name':'object'})

data = [
    [1, 1, 3, '2020-01-12'], [1, 2, 4, '2020-02-11'], [1, 3, 2, '2020-02-12'],
    [1, 4, 1, '2020-01-01'], [2, 1, 5, '2020-02-17'], [2, 2, 2, '2020-02-01'],
    [2, 3, 2, '2020-03-01'], [3, 1, 3, '2020-02-22'], [3, 2, 4, '2020-02-25']
]
movie_rating = pd.DataFrame(data, columns=['movie_id', 'user_id', 'rating', 'created_at']).astype({
    'movie_id':'Int64', 'user_id':'Int64', 'rating':'Int64', 'created_at':'datetime64[ns]'
})

def movie_rating_analysis(movies: pd.DataFrame, users: pd.DataFrame, movie_rating: pd.DataFrame) -> pd.DataFrame:

    merged_data = movie_rating.merge(users, on='user_id', how='left').merge(movies, on='movie_id', how='left')

    frequent_rater = merged_data['name'].value_counts()
    most_frequent_user = frequent_rater[frequent_rater == frequent_rater.max()].sort_index(ascending=True).index[0]

    february_ratings = merged_data[
        (merged_data['created_at'] >= '2020-02-01') & (merged_data['created_at'] <= '2020-02-29')
    ]

    avg_ratings = february_ratings.groupby('title').agg({'rating': 'mean'}).reset_index()

    highest_rated_movie = avg_ratings[avg_ratings['rating'] == avg_ratings['rating'].max()]
    highest_rated_movie_title = highest_rated_movie.sort_values(by='title', ascending=True)['title'].iloc[0]

    return pd.DataFrame({
        'most_frequent_user': [most_frequent_user],
        'highest_rated_movie_in_february': [highest_rated_movie_title]
    })

result = movie_rating_analysis(movies, users, movie_rating)
print(result)

  most_frequent_user highest_rated_movie_in_february
0             Daniel                        Frozen 2

In [5]:
import pandas as pd
import numpy as np

def capital_gainloss(stocks: pd.DataFrame) -> pd.DataFrame:

    stocks["capital_gain_loss"] = np.where(stocks["operation"] == 'Buy', -stocks["price"], stocks["price"])

    return stocks.groupby(by="stock_name", as_index=False).capital_gain_loss.sum()

data = [
    ['Leetcode', 'Buy', 1, 1000],
    ['Corona Masks', 'Buy', 2, 10],
    ['Leetcode', 'Sell', 5, 9000],
    ['Handbags', 'Buy', 17, 30000],
    ['Corona Masks', 'Sell', 3, 1010],
    ['Corona Masks', 'Buy', 4, 1000],
    ['Corona Masks', 'Sell', 5, 500],
    ['Corona Masks', 'Buy', 6, 1000],
    ['Handbags', 'Sell', 29, 7000],
    ['Corona Masks', 'Sell', 10, 10000]
]
stocks = pd.DataFrame(data, columns=['stock_name', 'operation', 'operation_day', 'price']).astype({
    'stock_name': 'object', 'operation': 'object', 'operation_day': 'Int64', 'price': 'Int64'
})

result = capital_gainloss(stocks)
print(result)

     stock_name  capital_gain_loss
0  Corona Masks               9500
1      Handbags             -23000
2      Leetcode               8000

In [6]:
import pandas as pd

data = [[1, 100], [2, 200], [3, 300]]
employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id': 'int64', 'salary': 'int64'})

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:

    employee.drop_duplicates(subset=["salary"], inplace=True)
    if employee.shape[0] < 2:
        return pd.DataFrame([[None]], columns=["SecondHighestSalary"])

    employee.sort_values(by="salary", inplace=True, ascending=False)
    employee = employee[["salary"]].rename(columns={"salary": "SecondHighestSalary"})
    return employee.iloc[1:2]
result = second_highest_salary(employee)
print(result)

   SecondHighestSalary
1                  200